{% extends "core/base.html" %}

{% block title %}
リーグ枠CSVインポート
{% endblock %}

{% block content %}

<h2>
    リーグ枠CSVインポート
</h2>

<p>
    {{ tournament.name }}
</p>

<p>
    <a href="{% url 'download_csv_format' tournament.code 'league_entries' %}">
        CSVフォーマットをダウンロード
    </a>
    （UTF-8 BOM付き）
</p>

{% if form.errors %}
    <div style="color:red;">
        {{ form.errors }}
    </div>
{% endif %}

{% if errors %}
    <ul style="color:red;">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form
    method="post"
    enctype="multipart/form-data"
>

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        アップロード
    </button>

</form>

{% endblock %}
